<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courier+Prime&family=EB+Garamond&family=Poppins:wght@100;400&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="stylesheets/user/login.css" />
  </head>
  <body>
    <div class="container">
      <div class="loginPage">
        <div class="overlay">
          <div class="box"></div>
        </div>
        <h1>Fass<span class="orange">Sion</span> Login credentials</h1>
        <form method="post" action="/login">
          <div class="row">
            <div class="column">
              <label for="email">Email:</label>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Email@gmail.com"
                autocomplete="off" />
            </div>
            <div class="column">
              <label for="password">Password</label>
              <input
                type="password"
                placeholder="Password"
                name="password"
                id="password" />
            </div>
            <button class="submit">Log In</button>
          </div>
          <p>Didn't have account <a href="/register">Register Now</a></p>
        </form>
      </div>
    </div>
  </body>
</html>
